node_modules
npm-debug.log
.git
.gitignore
README.md
.dockerignore
coverage
.nyc_output
*.log
logs
pids
*.pid
*.seed
*.pid.lock
.DS_Store
.vscode-test
.vscode
.idea
*.swp
*.swo
.sass-cache
.tmp
.cache
dist
build
.npm
.eslintcache
.parcel-cache
test-results
playwright-report
test-data
.vs/